    <style>
        {{ css }}
        </style>
        <nav class="navbar navbar-expand-md bg-light fixed-top">
    <a class="navbar-brand" href="#">
       Navbar
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon">
       </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <a class="nav-link" href="#">
                Home
                <span class="sr-only">
                   (current)
                </span>
             </a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="#">
                Link
             </a>
          </li>
          <li class="nav-item">
             <a class="nav-link disabled" href="#">
                Disabled
             </a>
          </li>
          <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
             </a>
             <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="#">
                   Action
                </a>
                <a class="dropdown-item" href="#">
                   Another action
                </a>
                <a class="dropdown-item" href="#">
                   Something else here
                </a>
             </div>
          </li>
       </ul>
       <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"/>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
             Search
          </button>
       </form>
    </div>
 </nav>
 <main role="main" class="container">
    <div class="starter-template">
       <h1>
          Bootstrap starter template
       </h1>
       <p class="lead">
          Use this document as a way to quickly start any new project.
          <br/>
           All you get is this text and a mostly barebones HTML document.
       </p>
    </div>
 </main>
 BLA
 <pre>
    {{ css }}
</pre>
 {{ invoicedata["invoice_id"]}}

    <div class="row">
        <div class="col-md-2 bg-dark text-light lineitemheader"></div>
        <div class="col-md-5 bg-dark text-light lineitemheader">{{ "Description" | translate}}</div>
        <div class="col-md-1 bg-dark text-light lineitemheader">{{ "Price excl. VAT" | translate}}</div>
        <div class="col-md-1 bg-dark text-light lineitemheader">{{ "Total Price" | translate}}</div>
        <div class="col-md-1 bg-dark text-light lineitemheader">{{ "VAT Percentage" | translate }}%</div>
        <div class="col-md-1 bg-dark text-light lineitemheader">{{ "VAT Amount" | translate }}</div>
        <div class="col-md-1 bg-dark text-light lineitemheader">{{ "Total price incl. VAT" | translate }}</div>
      </div>
 <div class="lineitem-row" *ngFor="let item of invoicedata.line_items; index as i;">
      <div class="row">
    <div class="col-md-2 light">{{item.items}} {{item.units}}</div>
    <div class="col-md-5 light">{{item.description}}</div>
    <div class="col-md-1 light">{{item.item_price | currency:item.currency:'symbol-narrow'}}</div>
    <div class="col-md-1 light">{{item.item_total_price  | currency:item.currency:'symbol-narrow'}}</div>
    <div class="col-md-1 light">{{item.vat_perc}}%</div>
    <div class="col-md-1 light">{{item.vat_amount  | currency:item.currency:'symbol-narrow'}}</div>
    <div class="col-md-1">{{item.item_total_price_inc_vat  | currency:item.currency:'symbol-narrow'}}</div>
  </div>
 </div>
<div class="row">
    <div class="col-md-2 lineitemfooter">{{"Total" | translate}}:</div>
    <div class="col-md-5 lineitemfooter"></div>
    <div class="col-md-1 lineitemfooter"></div>
    <div class="col-md-1 lineitemfooter">{{invoicedata.totals.price_ex_vat | currency:invoicedata.totals.currency:'symbol-narrow'}}</div>
    <div class="col-md-1 lineitemfooter"></div>
    <div class="col-md-1 lineitemfooter">{{invoicedata.totals.vat_amount | currency:invoicedata.totals.currency:'symbol-narrow'}}</div>
    <div class="col-md-1 lineitemfooter bold">{{invoicedata.totals.price_inc_vat | currency:invoicedata.totals.currency:'symbol-narrow'}}</div>
  </div>
