
<div class="pageHeader">
  <div class="row">
    <div class="col-md-12">
    <h1>{{ "Invoice" | translate}}</h1>
  </div>
  </div>
</div>

<div class="pageFooter">
Blabla
</div>


<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <span *ngIf="invoicedata.to.companyname">{{ invoicedata.to.companyname }}<BR/></span>
    <span *ngIf="invoicedata.to.contactperson">{{ invoicedata.to.contactperson }}<BR/></span>
    <span *ngIf="invoicedata.to.department">{{ invoicedata.to.department }}<BR/></span>
    <span *ngIf="invoicedata.to.address.street">{{ invoicedata.to.address.street }} {{ invoicedata.to.address.housenr }} {{ invoicedata.to.address.housenrextra }}<BR/></span>
    <span *ngIf="invoicedata.to.address.zipcode">{{ invoicedata.to.address.zipcode }} </span>
    <span *ngIf="invoicedata.to.address.city">{{ invoicedata.to.address.city }}<BR/></span>
    <span *ngIf="invoicedata.to.address.country">{{ invoicedata.to.address.country }}<BR/></span>
    <canvas id="kixcodeCanvas"></canvas>
  </div>
  <div class="col-md-5">
      <span *ngIf="invoicedata.to.companyname">{{ invoicedata.from.companyname }}<BR/></span>
      <span *ngIf="invoicedata.to.address.street">{{ invoicedata.from.address.street }} {{ invoicedata.from.address.housenr }} {{ invoicedata.from.address.housenrextra }}<BR/></span>
      <span *ngIf="invoicedata.to.address.zipcode">{{ invoicedata.from.address.zipcode }} </span>
      <span *ngIf="invoicedata.to.address.city">{{ invoicedata.from.address.city }}<BR/></span>
      <span *ngIf="invoicedata.to.address.country">{{ invoicedata.from.address.country }}<BR/></span>

  </div>
  <div class="col-md-1"></div>
</div>

 {{ invoicedata["invoice_id"]}}

    <div class="row">
        <div class="col-md-2 bg-dark text-light lineitemheader"></div>
        <div class="col-md-5 bg-dark text-light lineitemheader">{{ "Description" | translate}}</div>
        <div class="col-md-1 bg-dark text-light lineitemheader">{{ "Price excl. VAT" | translate}}</div>
        <div class="col-md-1 bg-dark text-light lineitemheader">{{ "Total Price" | translate}}</div>
        <div class="col-md-1 bg-dark text-light lineitemheader">{{ "VAT Percentage" | translate }}%</div>
        <div class="col-md-1 bg-dark text-light lineitemheader">{{ "VAT Amount" | translate }}</div>
        <div class="col-md-1 bg-dark text-light lineitemheader">{{ "Total price incl. VAT" | translate }}</div>
      </div>
 <div class="lineitem-row" *ngFor="let item of invoicedata.line_items; index as i;">
      <div class="row">
    <div class="col-md-2 light">{{item.items}} {{item.units}}</div>
    <div class="col-md-5 light">{{item.description}}</div>
    <div class="col-md-1 light">{{item.item_price | currency:item.currency:'symbol-narrow'}}</div>
    <div class="col-md-1 light">{{item.item_total_price  | currency:item.currency:'symbol-narrow'}}</div>
    <div class="col-md-1 light">{{item.vat_perc}}%</div>
    <div class="col-md-1 light">{{item.vat_amount  | currency:item.currency:'symbol-narrow'}}</div>
    <div class="col-md-1">{{item.item_total_price_inc_vat  | currency:item.currency:'symbol-narrow'}}</div>
  </div>
 </div>
<div class="row">
    <div class="col-md-2 lineitemfooter">{{"Total" | translate}}:</div>
    <div class="col-md-5 lineitemfooter"></div>
    <div class="col-md-1 lineitemfooter"></div>
    <div class="col-md-1 lineitemfooter">{{invoicedata.totals.price_ex_vat | currency:invoicedata.totals.currency:'symbol-narrow'}}</div>
    <div class="col-md-1 lineitemfooter"></div>
    <div class="col-md-1 lineitemfooter">{{invoicedata.totals.vat_amount | currency:invoicedata.totals.currency:'symbol-narrow'}}</div>
    <div class="col-md-1 lineitemfooter bold">{{invoicedata.totals.price_inc_vat | currency:invoicedata.totals.currency:'symbol-narrow'}}</div>
  </div>
